In [2]:
#coding=utf-8
import pandas as pd
from pandas import DataFrame
from pandas import concat
from pandas import merge
import numpy as np

# 1、构造DF

In [5]:
df = pd.DataFrame({'id':[1,2,3],'name':['Jim','Tom','Jack'],'amount':[100,30,80]})
df

   id  name  amount
0   1   Jim     100
1   2   Tom      30
2   3  Jack      80

# 2、merage
pandas提供了一个类似于关系数据库的连接(join)操作的方法<Strong>merage</Strong>,可以根据一个或多个键将不同DataFrame中的行连接起来，语法如下：
1	merge(left, right, how='inner', on=None, left_on=None, right_on=None,
2	      left_index=False, right_index=False, sort=True,
3	      suffixes=('_x', '_y'), copy=True, indicator=False)

作为一个功能完善、强大的语言，python的pandas库中的merge()支持各种内外连接。
+ left与right：两个不同的DataFrame
+ how：指的是合并(连接)的方式有inner(内连接),left(左外连接),right(右外连接),outer(全外连接);默认为inner
+ on : 指的是用于连接的列索引名称。必须存在右右两个DataFrame对象中，如果没有指定且其他参数也未指定则以两个DataFrame的列名交集做为连接键
+ left_on：左则DataFrame中用作连接键的列名;这个参数中左右列名不相同，但代表的含义相同时非常有用。
+ right_on：右则DataFrame中用作 连接键的列名
+ left_index：使用左则DataFrame中的行索引做为连接键
+ right_index：使用右则DataFrame中的行索引做为连接键
+ sort：默认为True，将合并的数据进行排序。在大多数情况下设置为False可以提高性能
+ suffixes：字符串值组成的元组，用于指定当左右DataFrame存在相同列名时在列名后面附加的后缀名称，默认为('_x','_y')
+ copy：默认为True,总是将数据复制到数据结构中；大多数情况下设置为False可以提高性能
+ indicator：在 0.17.0中还增加了一个显示合并数据中来源情况；如只来自己于左边(left_only)、两者(both)


+ https://www.cnblogs.com/keye/p/10791705.html

In [3]:
data=DataFrame([{"id":0,"name":'lxh',"age":20,"cp":'lm'},{"id":1,"name":'xiao',"age":40,"cp":'ly'},{"id":2,"name":'hua',"age":4,"cp":'yry'},{"id":3,"name":'be',"age":70,"cp":'old'}])
data1=DataFrame([{"id":100,"name":'lxh','cs':10},{"id":101,"name":'xiao','cs':40},{"id":102,"name":'hua2','cs':50}])
data2=DataFrame([{"id":0,"name":'lxh','cs':10},{"id":101,"name":'xiao','cs':40},{"id":102,"name":'hua2','cs':50}])
data3=DataFrame([{"mid":0,"mname":'lxh','cs':10},{"mid":1,"mname":'xiao','cs':40},{"mid":102,"mname":'hua2','cs':50}])


print('data:\n',data)
print('data1:\n',data1)
print('data2:\n',data2)
print('data3:\n',data3)


print('复制的连接\r\n', merge(data1, data3, copy = 'false' ))
print('单个列名做为内链接的连接键\r\n', merge(data, data1, on='name',suffixes=('_a','_b')) )
print("多列名做为内链接的连接键\r\n",merge(data,data2,on=("name","id"))  )
print('不指定on则以两个DataFrame的列名交集做为连接键\r\n' ,merge(data,data2))     #这里使用了id与name

#使用右边的DataFrame的行索引做为连接键
##设置行索引名称
indexed_data1=data1.set_index("name")
print("使用右边的DataFrame的行索引做为连接键\r\n",merge(data,indexed_data1,left_on='name',right_index=True))

print('左外连接\r\n',merge(data,data1,on="name",how="left",suffixes=('_a','_b')) )
print('左外连接1\r\n',merge(data1,data,on="name",how="left")  )
print('右外连接\r\n',merge(data,data1,on="name",how="right")  )

print('data3:', data3)
#当左右两个DataFrame的列名不同，当又想做为连接键时可以使用left_on与right_on来指定连接键
print("使用left_on与right_on来指定列名字不同的连接键\r\n",merge(data,data3,left_on=["name","id"],right_on=["mname","mid"],  how = 'left' ) )

data:
    id  name  age   cp
0   0   lxh   20   lm
1   1  xiao   40   ly
2   2   hua    4  yry
3   3    be   70  old
data1:
     id  name  cs
0  100   lxh  10
1  101  xiao  40
2  102  hua2  50
data2:
     id  name  cs
0    0   lxh  10
1  101  xiao  40
2  102  hua2  50
data3:
    mid mname  cs
0    0   lxh  10
1    1  xiao  40
2  102  hua2  50
复制的连接
     id  name  cs  mid mname
0  100   lxh  10    0   lxh
1  101  xiao  40    1  xiao
2  102  hua2  50  102  hua2
单个列名做为内链接的连接键
    id_a  name  age  cp  id_b  cs
0     0   lxh   20  lm   100  10
1     1  xiao   40  ly   101  40
多列名做为内链接的连接键
    id name  age  cp  cs
0   0  lxh   20  lm  10
不指定on则以两个DataFrame的列名交集做为连接键
    id name  age  cp  cs
0   0  lxh   20  lm  10
使用右边的DataFrame的行索引做为连接键
    id_x  name  age  cp  id_y  cs
0     0   lxh   20  lm   100  10
1     1  xiao   40  ly   101  40
左外连接
    id_a  name  age   cp   id_b    cs
0     0   lxh   20   lm  100.0  10.0
1     1  xiao   40   ly  101.0  40.0
2     2   hua    4  yry    NaN   NaN
3     3    be   70  old    NaN   NaN
左外连接1
    id_x  name  cs  id_y   age   cp
0   100   lxh  10   0.0  20.0   lm
1   101  xiao  40   1.0  40.0   ly
2   102  hua2  50   NaN   NaN  NaN
右外连接
    id_x  name   age   cp  id_y  cs
0   0.0   lxh  20.0   lm   100  10
1   1.0  xiao  40.0   ly   101  40
2   NaN  hua2   NaN  NaN   102  50
data3:    mid mname  cs
0    0   lxh  10
1    1  xiao  40
2  102  hua2  50
使用left_on与right_on来指定列名字不同的连接键
    id  name  age   cp  mid mname    cs
0   0   lxh   20   lm  0.0   lxh  10.0
1   1  xiao   40   ly  1.0  xiao  40.0
2   2   hua    4  yry  NaN   NaN   NaN
3   3    be   70  old  NaN   NaN   NaN

# 3、join
方法提供了一个简便的方法用于将两个DataFrame中的不同的列索引合并成为一个DataFrame。
其中参数的意义与merge方法基本相同,只是join方法默认为左外连接how=left。

In [4]:
data=DataFrame([{"id":0,"name":'lxh',"age":20,"cp":'lm'},{"id":1,"name":'xiao',"age":40,"cp":'ly'},{"id":2,"name":'hua',"age":4,"cp":'yry'},{"id":3,"name":'be',"age":70,"cp":'old'}],index=['a','b','c','d'])
data1=DataFrame([{"sex":0},{"sex":1},{"sex":2}],index=['a','b','e'])

print(data)
print(data1)

print('使用默认的左连接\r\n',data.join(data1) )#这里可以看出自动屏蔽了data中没有的index=e 那一行的数据
print('使用右连接\r\n',data.join(data1,how="right") )#这里出自动屏蔽了data1中没有index=c,d的那行数据；等价于data1.join(data)
print('使用内连接\r\n',data.join(data1,how='inner') )
print('使用全外连接\r\n',data.join(data1,how='outer') )

   id  name  age   cp
a   0   lxh   20   lm
b   1  xiao   40   ly
c   2   hua    4  yry
d   3    be   70  old
   sex
a    0
b    1
e    2
使用默认的左连接
    id  name  age   cp  sex
a   0   lxh   20   lm  0.0
b   1  xiao   40   ly  1.0
c   2   hua    4  yry  NaN
d   3    be   70  old  NaN
使用右连接
     id  name   age   cp  sex
a  0.0   lxh  20.0   lm    0
b  1.0  xiao  40.0   ly    1
e  NaN   NaN   NaN  NaN    2
使用内连接
    id  name  age  cp  sex
a   0   lxh   20  lm    0
b   1  xiao   40  ly    1
使用全外连接
     id  name   age   cp  sex
a  0.0   lxh  20.0   lm  0.0
b  1.0  xiao  40.0   ly  1.0
c  2.0   hua   4.0  yry  NaN
d  3.0    be  70.0  old  NaN
e  NaN   NaN   NaN  NaN  2.0

# 4、concat
concat方法相当于数据库中的全连接(UNION ALL),可以指定按某个轴进行连接,也可以指定连接的方式join(outer,inner 只有这两种)。
与数据库不同的是concat不会去重，要达到去重的效果可以使用drop_duplicates方法

1	concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
2	           keys=None, levels=None, names=None, verify_integrity=False, copy=True):

In [5]:
df1 = DataFrame({'city': ['Chicago', 'San Francisco', 'New York City'], 'rank':  [1, 4, 5]})
df2 = DataFrame({'city': ['Chicago', 'Boston', 'Los Angeles','San Francisco'], 'rank': [1, 14, 16, 4], 'age': [20, 30, 40, 50]})
print(df1)
print(df2)

print( '一、按索引轴进行内连接\r\n',concat([df1,df2],join="inner",axis=1)  )
print( '二、进行外连接并指定keys(行索引)\r\n',concat([df1,df2],keys=['a','b'])   ) #这里有重复的数据
print( '三、去重后\r\n',concat([df1,df2],ignore_index=True).drop_duplicates()  )
print( '四、按索引轴进行内连接\r\n',concat([df1,df2],join="outer",axis=1)  )

            city  rank
0        Chicago     1
1  San Francisco     4
2  New York City     5
            city  rank  age
0        Chicago     1   20
1         Boston    14   30
2    Los Angeles    16   40
3  San Francisco     4   50
一、按索引轴进行内连接
             city  rank         city  rank  age
0        Chicago     1      Chicago     1   20
1  San Francisco     4       Boston    14   30
2  New York City     5  Los Angeles    16   40
二、进行外连接并指定keys(行索引)
               city  rank   age
a 0        Chicago     1   NaN
  1  San Francisco     4   NaN
  2  New York City     5   NaN
b 0        Chicago     1  20.0
  1         Boston    14  30.0
  2    Los Angeles    16  40.0
  3  San Francisco     4  50.0
三、去重后
             city  rank   age
0        Chicago     1   NaN
1  San Francisco     4   NaN
2  New York City     5   NaN
3        Chicago     1  20.0
4         Boston    14  30.0
5    Los Angeles    16  40.0
6  San Francisco     4  50.0
四、按索引轴进行内连接
             city  rank           city  rank  age
0        Chicago   1.0        Chicago     1   20
1  San Francisco   4.0         Boston    14   30
2  New York City   5.0    Los Angeles    16   40
3            NaN   NaN  San Francisco     4   50

# 5、导入数据

In [6]:
df=pd.read_csv('.\JN_DataWarehouse\qunar\qunar_freetrip.csv',index_col=0)
df.head()

,出发地,目的地,价格,节省,路线名,酒店,房间,去程航司,去程方式,去程时间,回程航司,回程方式,回程时间
0,哈尔滨,北海,2208.0,650.0,哈尔滨-北海3天2晚 | 入住北海祥丰嘉年华大酒店 + 春秋航空往返机票,北海祥丰嘉年华大酒店 舒适型 4.7分/5分,标准双人间(双床) 双床 不含早 1间2晚,春秋航空 9C8741,直飞,17:10-21:50,春秋航空 9C8742,直飞,10:20-15:05
1,成都,泸沽湖,1145.0,376.0,成都-泸沽湖3天2晚 | 入住7天酒店丽江古城中心店 + 成都航空往返机票,7天酒店丽江古城中心店 经济型 4.0分/5分,经济房-不含早-限时特... 其他 不含早 1间2晚,成都航空 EU2237,直飞,19:45-21:20,成都航空 EU2738,直飞,23:30-01:05
2,广州,沈阳,2702.0,618.0,广州-沈阳3天2晚 | 入住沈阳中煤宾馆 + 南方航空/深圳航空往返机票,沈阳中煤宾馆 舒适型 4.5分/5分,大床间(内宾) 大床 双早 1间2晚,南方航空 CZ6384,直飞,08:05-11:45,深圳航空 ZH9652,经停,08:20-13:05
3,上海,九寨沟,1954.0,484.0,上海-九寨沟3天2晚 | 入住红原芸谊大酒店 + 成都航空往返机票,红原芸谊大酒店 舒适型 4.6分/5分,豪华双床房[双早] 双床 双早 1间2晚,成都航空 EU6678,直飞,21:55-01:15,成都航空 EU6677,直飞,17:45-20:35
4,广州,天津,1608.0,422.0,广州-天津3天2晚 | 入住天津逸海明珠大酒店 + 奥凯航空/海南航空往返机票,天津逸海明珠大酒店 高档型 4.1分/5分,豪华双床房(预付) 双床 不含早 1间2晚,奥凯航空 BK2787,直飞,06:55-10:00,海南航空 HU7201,直飞,20:15-23:25

# 6、导出数据

In [7]:
# data.to_csv('lianjia-foshanfangyuan.csv')
df.to_csv('.\JN_DataWarehouse\qunar\qunar_freetrip.csv')

# 7、去列名的空格

In [8]:
# 将数组里的下标赋值给col变量
col = df.columns.values
# 去空格，第二种：使用for循环来进行处理，如下：
df.columns=[x.strip() for x in col]

# 7.1 缺失值筛查

In [9]:
df.isnull().sum()

出发地      2
目的地      1
价格      28
节省      17
路线名      0
酒店       0
房间       0
去程航司     0
去程方式     0
去程时间     0
回程航司     0
回程方式     0
回程时间     0
dtype: int64

In [10]:
# 缺失值筛查
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_pct = 100 * mis_val/len(df)
    mis_val_table = pd.concat([mis_val, mis_val_pct], axis=1)
    mis_val_table.rename(columns={0: 'Missing Values', 1: '% of Total Values'}, inplace=True)
    mis_val_table = mis_val_table[mis_val_table.iloc[:, 1] != 0].sort_values('% of Total Values', ascending=False).round(1)
    return mis_val_table
missing_loan = missing_values_table(df)
missing_loan

     Missing Values  % of Total Values
价格               28                0.5
节省               17                0.3
出发地               2                0.0
目的地               1                0.0

# 7.3 查看列值 是否有异常值

In [11]:
# 查看列 是否有异常值 如 【出发地】列包含什么数据，要自己先检查NaN
df.groupby(['出发地'])['出发地'].count()
# 含有上面的功能 还多了排序
df['出发地'].value_counts()

南京     361
广州     358
杭州     357
上海     340
北京     339
天津     318
厦门     306
成都     295
西安     290
济南     270
重庆     269
深圳     261
青岛     256
大连     240
沈阳     229
武汉     220
哈尔滨    182
宁波     182
长春      25
Name: 出发地, dtype: int64

# 8、索引

In [12]:
# loc是按索引内容查询 
df = df.set_index("出发地")  ; 
df.loc['哈尔滨']

,目的地,价格,节省,路线名,酒店,房间,去程航司,去程方式,去程时间,回程航司,回程方式,回程时间
出发地,,,,,,,,,,,,
哈尔滨,北海,2208.0,650.0,哈尔滨-北海3天2晚 | 入住北海祥丰嘉年华大酒店 + 春秋航空往返机票,北海祥丰嘉年华大酒店 舒适型 4.7分/5分,标准双人间(双床) 双床 不含早 1间2晚,春秋航空 9C8741,直飞,17:10-21:50,春秋航空 9C8742,直飞,10:20-15:05
哈尔滨,南京,1170.0,340.0,哈尔滨-南京3天2晚 | 入住维也纳酒店南京南站汇景店 + 吉祥航空/厦门航空往...,维也纳酒店南京南站汇景店 舒适型 4.4分/5分,特惠大床房（无窗）[双... 大床 双早 1间2晚,吉祥航空 HO1651,直飞,17:10-20:00,厦门航空 MF8067,直飞,19:40-22:25
哈尔滨,长沙,NaN,472.0,哈尔滨-长沙3天2晚 | 入住长沙艾玛连锁酒店 + 海南航空/奥凯航空往返机票,长沙艾玛连锁酒店 舒适型 3.7分/5分,豪华双人间-不含早（预... 双床 不含早 1间2晚,海南航空 HU7726,经停,16:25-22:05,奥凯航空 BK2849,经停,07:15-12:50
哈尔滨,长沙,1791.0,470.0,哈尔滨-长沙3天2晚 | 入住长沙佳华酒店 + 海南航空/奥凯航空往返机票,长沙佳华酒店 舒适型 4.2分/5分,标准大床房(提前3小时... 大床 不含早 1间2晚,海南航空 HU7726,经停,16:25-22:05,奥凯航空 BK2849,经停,07:15-12:50
哈尔滨,青岛,1439.0,375.0,哈尔滨-青岛3天2晚 | 入住青岛栈桥王子饭店 + 青岛航/福州往返机票,青岛栈桥王子饭店 豪华型 4.3分/5分,都市双人大床房(无窗)... 大床 双早 1间2晚,青岛航 QW9784,直飞,22:45-00:50,福州 FU6658,直飞,22:20-00:20
...,...,...,...,...,...,...,...,...,...,...,...,...
哈尔滨,南京,1087.0,336.0,哈尔滨-南京3天2晚 | 入住南京米兰假日大酒店 + 吉祥航空/厦门航空往返机票,南京米兰假日大酒店 3.7分/5分,标准房(预付)(双床)... 双床 不含早 1间2晚,吉祥航空 HO1651,直飞,17:10-20:00,厦门航空 MF8067,直飞,19:40-22:25
哈尔滨,三亚,1918.0,468.0,哈尔滨-三亚3天2晚 | 入住三亚夏威夷大酒店大东海店 + 首都航空/福州往返机票,三亚夏威夷大酒店大东海店 高档型 4.2分/5分,市景双床房(限时特惠)... 双床 不含早 1间2晚,首都航空 JD5532,经停,18:35-01:00,福州 FU6656,经停,16:05-22:35
哈尔滨,南京,1114.0,336.0,哈尔滨-南京3天2晚 | 入住五一宾馆南京工业大学虹桥校区店 + 吉祥航空/厦门...,五一宾馆南京工业大学虹桥校区店 舒适型 4.7分/5分,标准双床房(内宾) 双床 不含早 1间2晚,吉祥航空 HO1651,直飞,17:10-20:00,厦门航空 MF8067,直飞,19:40-22:25
哈尔滨,西安,1843.0,450.0,哈尔滨-西安3天2晚 | 入住西安铁通商务酒店贵宾楼 + 天津航空/东方航空往返...,西安铁通商务酒店贵宾楼 舒适型 4.2分/5分,标准间(持房卡尊享清凉... 双床 不含早 1间2晚,天津航空 GS7584,经停,12:30-17:40,东方航空 MU2211,经停,08:45-13:25
哈尔滨,长沙,1683.0,476.0,哈尔滨-长沙3天2晚 | 入住长沙三六零家庭旅馆 + 海南航空/奥凯航空往返机票,长沙三六零家庭旅馆 舒适型 3.6分/5分,普通间-不含早（预付） 大床 不含早 1间2晚,海南航空 HU7726,经停,16:25-22:05,奥凯航空 BK2849,经停,07:15-12:50

In [13]:
# 恢复index
# pd.set_option('display.max_rows',500) # 设置查看行数
df = df.reset_index()
df

,出发地,目的地,价格,节省,路线名,酒店,房间,去程航司,去程方式,去程时间,回程航司,回程方式,回程时间
0,哈尔滨,北海,2208.0,650.0,哈尔滨-北海3天2晚 | 入住北海祥丰嘉年华大酒店 + 春秋航空往返机票,北海祥丰嘉年华大酒店 舒适型 4.7分/5分,标准双人间(双床) 双床 不含早 1间2晚,春秋航空 9C8741,直飞,17:10-21:50,春秋航空 9C8742,直飞,10:20-15:05
1,成都,泸沽湖,1145.0,376.0,成都-泸沽湖3天2晚 | 入住7天酒店丽江古城中心店 + 成都航空往返机票,7天酒店丽江古城中心店 经济型 4.0分/5分,经济房-不含早-限时特... 其他 不含早 1间2晚,成都航空 EU2237,直飞,19:45-21:20,成都航空 EU2738,直飞,23:30-01:05
2,广州,沈阳,2702.0,618.0,广州-沈阳3天2晚 | 入住沈阳中煤宾馆 + 南方航空/深圳航空往返机票,沈阳中煤宾馆 舒适型 4.5分/5分,大床间(内宾) 大床 双早 1间2晚,南方航空 CZ6384,直飞,08:05-11:45,深圳航空 ZH9652,经停,08:20-13:05
3,上海,九寨沟,1954.0,484.0,上海-九寨沟3天2晚 | 入住红原芸谊大酒店 + 成都航空往返机票,红原芸谊大酒店 舒适型 4.6分/5分,豪华双床房[双早] 双床 双早 1间2晚,成都航空 EU6678,直飞,21:55-01:15,成都航空 EU6677,直飞,17:45-20:35
4,广州,天津,1608.0,422.0,广州-天津3天2晚 | 入住天津逸海明珠大酒店 + 奥凯航空/海南航空往返机票,天津逸海明珠大酒店 高档型 4.1分/5分,豪华双床房(预付) 双床 不含早 1间2晚,奥凯航空 BK2787,直飞,06:55-10:00,海南航空 HU7201,直飞,20:15-23:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095,宁波,九寨沟,2085.0,562.0,宁波-九寨沟3天2晚 | 入住黑水县达古冰山国际大酒店 + 成都航空/四川航空往...,黑水县达古冰山国际大酒店 豪华型 3.9分/5分,B区豪华标间(双床) 双床 不含早 1间2晚,成都航空 EU2730,经停,19:45-00:45,四川航空 3U8927,经停,07:55-12:15
5096,成都,泸沽湖,1158.0,376.0,成都-泸沽湖3天2晚 | 入住丽江望月阁客栈 + 成都航空往返机票,丽江望月阁客栈 经济型 4.6分/5分,标准双人间-不含早（预... 双床 不含早 1间2晚,成都航空 EU2237,直飞,19:45-21:20,成都航空 EU2738,直飞,23:30-01:05
5097,天津,丽江,1616.0,426.0,天津-丽江3天2晚 | 入住丽江凡间度假连锁客栈青旅店 + 天津航空/首都航空往...,丽江凡间度假连锁客栈青旅店 经济型 4.5分/5分,大床房-预付 大床 不含早 1间2晚,天津航空 GS7861,直飞,16:25-19:45,首都航空 JD5739,直飞,07:50-10:50
5098,大连,重庆,1703.0,446.0,大连-重庆3天2晚 | 入住重庆酉阳锦宏大酒店 + 华夏航空/山东航空往返机票,重庆酉阳锦宏大酒店 舒适型 4.0分/5分,特惠房(大床) 大床 不含早 1间2晚,华夏航空 G52762,经停,18:25-23:30,山东航空 SC4837,经停,07:00-11:30
5099,天津,哈尔滨,1192.0,356.0,天津-哈尔滨3天2晚 | 入住哈尔滨钰轩酒店中央大街店 + 奥凯航空/福州往返机票,哈尔滨钰轩酒店中央大街店 舒适型 4.0分/5分,标准大床房 大床 大床 双早 1间2晚,奥凯航空 BK2918,直飞,21:10-23:25,福州 FU6556,直飞,11:35-13:45

# 9、查询某行某列

In [14]:
# #where条件 和 显示 指定列， select '价格','节省','目的地' from df where 价格 > 0 and 节省 >400 and rownum < 6
df.loc[(df.价格>0) & (df.节省>400) ,['价格','节省','目的地']].head()
#df.loc[df['价格'].isnull()].head()

       价格     节省  目的地
0  2208.0  650.0   北海
2  2702.0  618.0   沈阳
3  1954.0  484.0  九寨沟
4  1608.0  422.0   天津
7  1673.0  404.0   重庆

In [15]:
# 显示某行 按索引查询   
df.loc[1850]

出发地                                       天津
目的地                                     西双版纳
价格                                      3027
节省                                       816
路线名     天津-西双版纳3天2晚 | 入住西双版纳景祥大酒店 + 东方航空往返机票
酒店                     西双版纳景祥大酒店 舒适型 4.5分/5分
房间                         温馨大床房 大床 不含早 1间2晚
去程航司                             东方航空 MU5748
去程方式                                      经停
去程时间                             14:15-20:00
回程航司                             东方航空 MU5747
回程方式                                      经停
回程时间                             07:30-12:55
Name: 1850, dtype: object

In [16]:
# 显示DF 列，多列要用两个[]
df[['酒店','房间','路线名']].head(10)

,酒店,房间,路线名
0,北海祥丰嘉年华大酒店 舒适型 4.7分/5分,标准双人间(双床) 双床 不含早 1间2晚,哈尔滨-北海3天2晚 | 入住北海祥丰嘉年华大酒店 + 春秋航空往返机票
1,7天酒店丽江古城中心店 经济型 4.0分/5分,经济房-不含早-限时特... 其他 不含早 1间2晚,成都-泸沽湖3天2晚 | 入住7天酒店丽江古城中心店 + 成都航空往返机票
2,沈阳中煤宾馆 舒适型 4.5分/5分,大床间(内宾) 大床 双早 1间2晚,广州-沈阳3天2晚 | 入住沈阳中煤宾馆 + 南方航空/深圳航空往返机票
3,红原芸谊大酒店 舒适型 4.6分/5分,豪华双床房[双早] 双床 双早 1间2晚,上海-九寨沟3天2晚 | 入住红原芸谊大酒店 + 成都航空往返机票
4,天津逸海明珠大酒店 高档型 4.1分/5分,豪华双床房(预付) 双床 不含早 1间2晚,广州-天津3天2晚 | 入住天津逸海明珠大酒店 + 奥凯航空/海南航空往返机票
5,青岛康大豪生大酒店 豪华型 4.6分/5分,精选房(大床)[酒店★... 大床 不含早 1间2晚,长春-青岛3天2晚 | 入住青岛康大豪生大酒店 + 南方航空往返机票
6,阿坝松潘松林酒店 舒适型 4.3分/5分,豪华标准间(双床) 双床 不含早 1间2晚,济南-九寨沟3天2晚 | 入住阿坝松潘松林酒店 + 中国国航/成都航空往返机票
7,重庆运通假日酒店汽博中心店 舒适型 4.3分/5分,特惠房(大床) 大床 双早 1间2晚,宁波-重庆3天2晚 | 入住重庆运通假日酒店汽博中心店 + 南方航空/四川航空往...
8,维也纳酒店南京南站汇景店 舒适型 4.4分/5分,特惠大床房（无窗）[双... 大床 双早 1间2晚,哈尔滨-南京3天2晚 | 入住维也纳酒店南京南站汇景店 + 吉祥航空/厦门航空往...
9,厦门泊旅时尚酒店会展中心店 舒适型 4.0分/5分,时尚标准双床房 双床 双早 1间2晚,深圳-厦门3天2晚 | 入住厦门泊旅时尚酒店会展中心店 + 海南航空往返机票

In [17]:
# 同样显示某行某列
df[df['出发地']=='上海'][['出发地','目的地']].head()

   出发地   目的地
3   上海   九寨沟
25  上海    青岛
45  上海   九寨沟
57  上海  乌鲁木齐
58  上海    沈阳

# 10、分组groupby

In [18]:
# df.groupby(['出发地','目的地'])['出发地'].count()
df.loc[df.出发地=='上海',['出发地','目的地']].groupby(['出发地','目的地'])['出发地'].count()

出发地  目的地
上海   三亚      21
     丽江      15
     乌鲁木齐    10
     九寨沟     15
     北京      17
     厦门      17
     呼和浩特    17
     哈尔滨     17
     大连      19
     太原      18
     张家界     11
     桂林      11
     武汉      19
     沈阳      20
     神农架     19
     西双版纳     9
     西安      16
     重庆      12
     长沙      22
     青岛      19
     黄山      16
Name: 出发地, dtype: int64

In [19]:
# sum
df.loc[df.节省.notnull(),'节省'].sum()

2410053.0

### 指定每一列使用某个聚合运算函数
df.groupby(['year']).agg({'high':'max','low':'min'}).T

def peak_range(df):
    #返回数据范围差值
    return df.max()**2 - df.min()**2
### 应用多个聚合函数,默认列索引为函数名    
df.groupby('year').agg(['sum','std','mean',('range',peak_range)])

# 11、排序sort
+ ascending = False 倒序

In [20]:
df.sort_values(by=['价格'], ascending=True).head()

,出发地,目的地,价格,节省,路线名,酒店,房间,去程航司,去程方式,去程时间,回程航司,回程方式,回程时间
5021,大连,烟台,578.0,342.0,大连-烟台3天2晚 | 入住蓬莱美一天精品酒店蓬莱阁店 + 幸福航空/天津航空往...,蓬莱美一天精品酒店蓬莱阁店 高档型 3.3分/5分,标准双床房(限量特惠) 双床 不含早 1间2晚,幸福航空 JR1582,直飞,10:05-11:05,天津航空 GS6402,直飞,16:30-17:25
1012,大连,烟台,600.0,348.0,大连-烟台3天2晚 | 入住烟台太平洋大酒店 + 幸福航空/天津航空往返机票,烟台太平洋大酒店 3.6分/5分,B类豪华大床房-限内宾 大床 不含早 1间2晚,幸福航空 JR1582,直飞,10:05-11:05,天津航空 GS6402,直飞,16:30-17:25
2301,大连,烟台,602.0,338.0,大连-烟台3天2晚 | 入住莱州新世纪大酒店B座 + 幸福航空/天津航空往返机票,莱州新世纪大酒店B座 舒适型 4.3分/5分,商务大床房 大床 双早 1间2晚,幸福航空 JR1582,直飞,10:05-11:05,天津航空 GS6402,直飞,16:30-17:25
4015,大连,烟台,612.0,334.0,大连-烟台3天2晚 | 入住维也纳智好酒店烟台开发区泰山路店 + 幸福航空/天津...,维也纳智好酒店烟台开发区泰山路店 舒适型 4.8分/5分,高级双床房(限量售卖)... 双床 不含早 1间2晚,幸福航空 JR1582,直飞,10:05-11:05,天津航空 GS6402,直飞,16:30-17:25
513,大连,烟台,612.0,348.0,大连-烟台3天2晚 | 入住莱州华泽宾馆 + 幸福航空/天津航空往返机票,莱州华泽宾馆 舒适型 4.5分/5分,大床房[无早] 大床 不含早 1间2晚,幸福航空 JR1582,直飞,10:05-11:05,天津航空 GS6402,直飞,16:30-17:25

# 12、在DF上赋值可增加列

In [21]:
# 增加任意名字列，如“逾期天数” 列，并赋值
df['逾期天数'] = 3
df.columns

Index(['出发地', '目的地', '价格', '节省', '路线名', '酒店', '房间', '去程航司', '去程方式', '去程时间',
       '回程航司', '回程方式', '回程时间', '逾期天数'],
      dtype='object')

# 13、in()与notin()

In [22]:
df.loc[df.节省.isin([342,334]),'节省'].head()

32     334.0
120    334.0
138    342.0
142    342.0
192    334.0
Name: 节省, dtype: float64

# 14、like 与 not like

In [23]:
df.loc[df["路线名"].str.contains('大连'),['出发地','目的地','价格','路线名']].head()

    出发地 目的地      价格                                          路线名
16   大连  上海  1003.0  大连-上海3天2晚 | 入住星程酒店上海松江体育中心店 + 春秋航空/吉祥航空往...
28   大连  长沙  1532.0           大连-长沙3天2晚 | 入住长沙三六零家庭旅馆 + 奥凯航空往返机票
33   大连  西宁  2397.0           大连-西宁3天2晚 | 入住亚朵酒店西宁夏都店 + 华夏航空往返机票
61   杭州  大连  1572.0         杭州-大连3天2晚 | 入住大连通宝宾馆 + 长龙航空/南方航空往返机票
102  宁波  大连  1458.0         宁波-大连3天2晚 | 入住大连海景酒店 + 南方航空/海南航空往返机票

# 15、pandas.cut使用总结

In [24]:
# cut
pd.cut(df['价格'], bins=[0, 1000, 2000, 5000, 10000, 100000, 5000000],  labels=[u"免费",u"低价",u"一般",u"中价",u"高价",u"超高价"]).head(5)

0    一般
1    低价
2    一般
3    低价
4    低价
Name: 价格, dtype: category
Categories (6, object): [免费 < 低价 < 一般 < 中价 < 高价 < 超高价]

# 16、 left join

In [25]:
df1 =  df.loc[df["出发地"]==('大连'),['出发地','目的地','节省']].head()
df2 =  df.loc[df["出发地"]==('大连'),['出发地','目的地','价格']].head()
print(df1)
print(df2)
# 左边与右表连接字段同名
df3 = merge(df1, df2, on=['出发地','目的地'], how='left')
print(df3)
# 左表字段 连接 右表字段
df4 = merge(df1, df2, left_on=['出发地','目的地'],right_on=['出发地','目的地'], how='left')
print(df4)

    出发地 目的地     节省
16   大连  上海  314.0
28   大连  长沙  422.0
33   大连  西宁  510.0
106  大连  厦门  732.0
113  大连  湘西  448.0
    出发地 目的地      价格
16   大连  上海  1003.0
28   大连  长沙  1532.0
33   大连  西宁  2397.0
106  大连  厦门  3011.0
113  大连  湘西  1881.0
  出发地 目的地     节省      价格
0  大连  上海  314.0  1003.0
1  大连  长沙  422.0  1532.0
2  大连  西宁  510.0  2397.0
3  大连  厦门  732.0  3011.0
4  大连  湘西  448.0  1881.0
  出发地 目的地     节省      价格
0  大连  上海  314.0  1003.0
1  大连  长沙  422.0  1532.0
2  大连  西宁  510.0  2397.0
3  大连  厦门  732.0  3011.0
4  大连  湘西  448.0  1881.0

# 17、Cell 时间统计
%%time  是单个cell运行时间
%%timeit 多次运行计算平均值

In [26]:
%%time
%%timeit
df

59.4 ns ± 13 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Wall time: 4.94 s

In [27]:
import time
start = time.time()

print('Cost time:%.4f'%(time.time()-start))

Cost time:0.0000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5100 entries, 0 to 5099
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   出发地     5098 non-null   object
 1   目的地     5099 non-null   object
 2   价格      5072 non-null   float64
 3   节省      5083 non-null   float64
 4   路线名     5100 non-null   object
 5   酒店      5100 non-null   object
 6   房间      5100 non-null   object
 7   去程航司    5100 non-null   object
 8   去程方式    5100 non-null   object
 9   去程时间    5100 non-null   object
 10  回程航司    5100 non-null   object
 11  回程方式    5100 non-null   object
 12  回程时间    5100 non-null   object
 13  逾期天数    5100 non-null   int64
dtypes: float64(2), int64(1), object(11)
memory usage: 557.9+ KB

# 18、数据转换

In [29]:
# 把数据由int64 转换成 str
df['逾期天数'] = df['逾期天数'].astype('str')
df.loc[df.逾期天数.notnull(),['出发地','目的地','逾期天数']].head()

   出发地  目的地 逾期天数
0  哈尔滨   北海    3
1   成都  泸沽湖    3
2   广州   沈阳    3
3   上海  九寨沟    3
4   广州   天津    3

# 19、Query函数

In [30]:
df.query("出发地 == '哈尔滨'")[['出发地','目的地','逾期天数']].head()
#df.query('column_name.str.contains("abc")')

    出发地 目的地 逾期天数
0   哈尔滨  北海    3
8   哈尔滨  南京    3
11  哈尔滨  长沙    3
19  哈尔滨  长沙    3
22  哈尔滨  青岛    3

# 20、删除列

In [ ]:
del df['Unnamed: 0']

# 21、日期时间处理

### （1）20200810  -> 2020-08-10
df["trade_date"] = pd.to_datetime(df["trade_date"], format='%Y%m%d')
df["trade_date"] = df['trade_date'].apply(lambda x: x.strftime('%Y-%m-%d'))

### （2）读取year年份
df["year"] = pd.to_datetime(df['trade_date'], format='%Y-%m-%d').dt.year

df["year"].head()

# 22、dataframe style列表显示颜色

+ df_sample.style.format('{:.1f}',subset='Fare').set_caption('五颜六色数据集').hide_index().bar('Age',vmin=0).highlight_max('Survived').background_gradient('Greens',subset='Fare').highlight_null()

<img src="./images/pandas_style.png">

# 23、style样式美化，赋空值nan

In [1]:
#coding=utf-8
import pandas as pd
from pandas import DataFrame
from pandas import concat
from pandas import merge
import numpy as np

In [2]:
df_c = pd.DataFrame(np.random.randn(10, 4), columns=['a','b','c','d'])
# 按元素处理样式：style.applymap()
def color_neg_red(val):
    if val < 0:
        color = 'red'
    else:
        color = 'black'
    return ('color:%s'% color)

df_c.style.applymap(color_neg_red)

In [3]:
# 分列显示

df_c.head().style.format({'b':"{:.2%}", 'c':"{:+.3f}", 'd':"{:.3f}"})

In [4]:
# 按行/列处理样式：style.apply()
def highlight_max(s):
    is_max = s == s.max()
    print(is_max)
    lst = []
    for v in is_max:
        if v:
            lst.append(' padding: 0px; color: rgb(128, 0, 0); line-height: 1.5 !important;background-color: yellow;">')
        else:
            lst.append('')
    return (lst)

df_c.style.apply(highlight_max, axis=1) #, subset=['b', 'c'] axis：0为列，1为行，默认为0；  # subset：索引
# 创建样式方法，每列最大值填充黄色

a    False
b    False
c    False
d     True
Name: 0, dtype: bool
a    False
b     True
c    False
d    False
Name: 1, dtype: bool
a    False
b     True
c    False
d    False
Name: 2, dtype: bool
a    False
b    False
c    False
d     True
Name: 3, dtype: bool
a    False
b    False
c     True
d    False
Name: 4, dtype: bool
a    False
b     True
c    False
d    False
Name: 5, dtype: bool
a    False
b    False
c     True
d    False
Name: 6, dtype: bool
a    False
b    False
c     True
d    False
Name: 7, dtype: bool
a     True
b    False
c    False
d    False
Name: 8, dtype: bool
a    False
b     True
c    False
d    False
Name: 9, dtype: bool

In [5]:
# 样式索引、切片

df_c.style.apply(highlight_max, axis = 1, 
               subset = pd.IndexSlice[2:5,['b', 'c']])  # 通过pd.IndexSlice[]调用切片

# 也可：df[2:5].style.apply(highlight_max, subset = ['b', 'd']) → 先索引行再做样式

b     True
c    False
Name: 2, dtype: bool
b     True
c    False
Name: 3, dtype: bool
b    False
c     True
Name: 4, dtype: bool
b     True
c    False
Name: 5, dtype: bool

In [6]:
df_c = pd.DataFrame(np.random.rand(5, 4), columns=list('ABCD'))
df_c['A'][2] = np.nan
df_c.style.highlight_null(null_color='red')

In [7]:
# 色彩映射

df_c = pd.DataFrame(np.random.rand(10,4),columns = list('ABCD'))
df_c.style.background_gradient(cmap='Greens',axis =1,low=0,high=1,subset=['A','C','D']) #cmap：颜色; #axis：映射参考，0为行，1以列d

In [8]:
# 条形图

df_c = pd.DataFrame(np.random.rand(10,4),columns = list('ABCD'))
df_c.style.bar(subset=['A', 'B'], color='#d65f5f', width=100) # width：最长长度在格子的占比

In [9]:
# 分段式构建样式
df_c = pd.DataFrame(np.random.rand(10,4),columns = list('ABCD'))
df_c['A'][[3,2]] = np.nan
df_c.style.\
    bar(subset=['A', 'B'], color='#d65f5f', width=100).\
    highlight_null(null_color='yellow')

In [10]:
# 首先自定义一个函数：大于0.9的数值用蓝色表示，否则用灰色表示
def highlight_value_above10(value):
    color='blue' if value > 0.9 else 'grey'
    return 'color:{}'.format(color) 

# 通过调用'DataFrame.style.applymap'函数来（作用于表中的每一个数值）美化该表
df_c.head(10).style.applymap(highlight_value_above10)

# 24、 apply、applymap 用法

In [22]:
import pandas as pd
import datetime as dt

def get_interval_days(arr_row, start, end):   
    start_date = dt.datetime.strptime(arr_row[start], '%Y-%m-%d')
    end_date = dt.datetime.strptime(arr_row[end], '%Y-%m-%d') 

    return (end_date - start_date).days


wbs = {
    "wbs": ["job1", "job2", "job3", "job4"],
    "date_from": ["2019-04-01", "2019-04-07", "2019-05-16","2019-05-20"],
    "date_to": ["2019-05-01", "2019-05-17", "2019-05-31", "2019-06-11"]
}

df = pd.DataFrame(wbs)
df['elapsed'] = df.apply(
    get_interval_days, axis=1, args=('date_from', 'date_to'))      # 可存df本身列外的参数，如数值，其他df等
df

    wbs   date_from     date_to  elapsed
0  job1  2019-04-01  2019-05-01       30
1  job2  2019-04-07  2019-05-17       40
2  job3  2019-05-16  2019-05-31       15
3  job4  2019-05-20  2019-06-11       22

In [19]:
len(df.index)

4