In [2]:
#coding=utf-8
import pandas as pd
from pandas import DataFrame
from pandas import concat
from pandas import merge
import numpy as np

# 1、构造DF

In [3]:
pd.DataFrame({'id':[1,2,3],'name':['Jim','Tom','Jack']})

   id  name
0   1   Jim
1   2   Tom
2   3  Jack

# 2、merage
pandas提供了一个类似于关系数据库的连接(join)操作的方法<Strong>merage</Strong>,可以根据一个或多个键将不同DataFrame中的行连接起来，语法如下：
1	merge(left, right, how='inner', on=None, left_on=None, right_on=None,
2	      left_index=False, right_index=False, sort=True,
3	      suffixes=('_x', '_y'), copy=True, indicator=False)

作为一个功能完善、强大的语言，python的pandas库中的merge()支持各种内外连接。
+ left与right：两个不同的DataFrame
+ how：指的是合并(连接)的方式有inner(内连接),left(左外连接),right(右外连接),outer(全外连接);默认为inner
+ on : 指的是用于连接的列索引名称。必须存在右右两个DataFrame对象中，如果没有指定且其他参数也未指定则以两个DataFrame的列名交集做为连接键
+ left_on：左则DataFrame中用作连接键的列名;这个参数中左右列名不相同，但代表的含义相同时非常有用。
+ right_on：右则DataFrame中用作 连接键的列名
+ left_index：使用左则DataFrame中的行索引做为连接键
+ right_index：使用右则DataFrame中的行索引做为连接键
+ sort：默认为True，将合并的数据进行排序。在大多数情况下设置为False可以提高性能
+ suffixes：字符串值组成的元组，用于指定当左右DataFrame存在相同列名时在列名后面附加的后缀名称，默认为('_x','_y')
+ copy：默认为True,总是将数据复制到数据结构中；大多数情况下设置为False可以提高性能
+ indicator：在 0.17.0中还增加了一个显示合并数据中来源情况；如只来自己于左边(left_only)、两者(both)

In [4]:
data=DataFrame([{"id":0,"name":'lxh',"age":20,"cp":'lm'},{"id":1,"name":'xiao',"age":40,"cp":'ly'},{"id":2,"name":'hua',"age":4,"cp":'yry'},{"id":3,"name":'be',"age":70,"cp":'old'}])
data1=DataFrame([{"id":100,"name":'lxh','cs':10},{"id":101,"name":'xiao','cs':40},{"id":102,"name":'hua2','cs':50}])
data2=DataFrame([{"id":0,"name":'lxh','cs':10},{"id":101,"name":'xiao','cs':40},{"id":102,"name":'hua2','cs':50}])

print('data:',data)
print('data1:',data1)
print('data2:',data2)

print('单个列名做为内链接的连接键\r\n', merge(data, data1, on='name',suffixes=('_a','_b')) )
print("多列名做为内链接的连接键\r\n",merge(data,data2,on=("name","id"))  )
print('不指定on则以两个DataFrame的列名交集做为连接键\r\n' ,merge(data,data2))     #这里使用了id与name

#使用右边的DataFrame的行索引做为连接键
##设置行索引名称
indexed_data1=data1.set_index("name")
print("使用右边的DataFrame的行索引做为连接键\r\n",merge(data,indexed_data1,left_on='name',right_index=True))

print('左外连接\r\n',merge(data,data1,on="name",how="left",suffixes=('_a','_b')) )
print('左外连接1\r\n',merge(data1,data,on="name",how="left")  )
print('右外连接\r\n',merge(data,data1,on="name",how="right")  )
data3=DataFrame([{"mid":0,"mname":'lxh','cs':10},{"mid":101,"mname":'xiao','cs':40},{"mid":102,"mname":'hua2','cs':50}])

#当左右两个DataFrame的列名不同，当又想做为连接键时可以使用left_on与right_on来指定连接键
print("使用left_on与right_on来指定列名字不同的连接键\r\n",merge(data,data3,left_on=["name","id"],right_on=["mname","mid"])  )

data:    age   cp  id  name
0   20   lm   0   lxh
1   40   ly   1  xiao
2    4  yry   2   hua
3   70  old   3    be
data1:    cs   id  name
0  10  100   lxh
1  40  101  xiao
2  50  102  hua2
data2:    cs   id  name
0  10    0   lxh
1  40  101  xiao
2  50  102  hua2
单个列名做为内链接的连接键
    age  cp  id_a  name  cs  id_b
0   20  lm     0   lxh  10   100
1   40  ly     1  xiao  40   101
多列名做为内链接的连接键
    age  cp  id name  cs
0   20  lm   0  lxh  10
不指定on则以两个DataFrame的列名交集做为连接键
    age  cp  id name  cs
0   20  lm   0  lxh  10
使用右边的DataFrame的行索引做为连接键
    age  cp  id_x  name  cs  id_y
0   20  lm     0   lxh  10   100
1   40  ly     1  xiao  40   101
左外连接
    age   cp  id_a  name    cs   id_b
0   20   lm     0   lxh  10.0  100.0
1   40   ly     1  xiao  40.0  101.0
2    4  yry     2   hua   NaN    NaN
3   70  old     3    be   NaN    NaN
左外连接1
    cs  id_x  name   age   cp  id_y
0  10   100   lxh  20.0   lm   0.0
1  40   101  xiao  40.0   ly   1.0
2  50   102  hua2   NaN  NaN   NaN
右外连接
     age   cp  id_x  name  cs  id_y
0  20.0   lm   0.0   lxh  10   100
1  40.0   ly   1.0  xiao  40   101
2   NaN  NaN   NaN  hua2  50   102
使用left_on与right_on来指定列名字不同的连接键
    age  cp  id name  cs  mid mname
0   20  lm   0  lxh  10    0   lxh

# 3、join
方法提供了一个简便的方法用于将两个DataFrame中的不同的列索引合并成为一个DataFrame。
其中参数的意义与merge方法基本相同,只是join方法默认为左外连接how=left。

In [5]:
data=DataFrame([{"id":0,"name":'lxh',"age":20,"cp":'lm'},{"id":1,"name":'xiao',"age":40,"cp":'ly'},{"id":2,"name":'hua',"age":4,"cp":'yry'},{"id":3,"name":'be',"age":70,"cp":'old'}],index=['a','b','c','d'])
data1=DataFrame([{"sex":0},{"sex":1},{"sex":2}],index=['a','b','e'])

print('使用默认的左连接\r\n',data.join(data1) )#这里可以看出自动屏蔽了data中没有的index=e 那一行的数据
print('使用右连接\r\n',data.join(data1,how="right") )#这里出自动屏蔽了data1中没有index=c,d的那行数据；等价于data1.join(data)
print('使用内连接\r\n',data.join(data1,how='inner') )
print('使用全外连接\r\n',data.join(data1,how='outer') )

使用默认的左连接
    age   cp  id  name  sex
a   20   lm   0   lxh  0.0
b   40   ly   1  xiao  1.0
c    4  yry   2   hua  NaN
d   70  old   3    be  NaN
使用右连接
     age   cp   id  name  sex
a  20.0   lm  0.0   lxh    0
b  40.0   ly  1.0  xiao    1
e   NaN  NaN  NaN   NaN    2
使用内连接
    age  cp  id  name  sex
a   20  lm   0   lxh    0
b   40  ly   1  xiao    1
使用全外连接
     age   cp   id  name  sex
a  20.0   lm  0.0   lxh  0.0
b  40.0   ly  1.0  xiao  1.0
c   4.0  yry  2.0   hua  NaN
d  70.0  old  3.0    be  NaN
e   NaN  NaN  NaN   NaN  2.0

# 4、concat
concat方法相当于数据库中的全连接(UNION ALL),可以指定按某个轴进行连接,也可以指定连接的方式join(outer,inner 只有这两种)。
与数据库不同的是concat不会去重，要达到去重的效果可以使用drop_duplicates方法

1	concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
2	           keys=None, levels=None, names=None, verify_integrity=False, copy=True):

In [6]:
df1 = DataFrame({'city': ['Chicago', 'San Francisco', 'New York City'], 'rank':  [1, 4, 5]})
df2 = DataFrame({'city': ['Chicago', 'Boston', 'Los Angeles','San Francisco'], 'rank': [1, 14, 16, 4], 'age': [20, 30, 40, 50]})
print(df1)
print(df2)

print( '一、按索引轴进行内连接\r\n',concat([df1,df2],join="inner",axis=1)  )
print( '二、进行外连接并指定keys(行索引)\r\n',concat([df1,df2],keys=['a','b'])   ) #这里有重复的数据
print( '三、去重后\r\n',concat([df1,df2],ignore_index=True).drop_duplicates()  )
print( '四、按索引轴进行内连接\r\n',concat([df1,df2],join="outer",axis=1)  )

            city  rank
0        Chicago     1
1  San Francisco     4
2  New York City     5
            city  rank  age
0        Chicago     1   20
1         Boston    14   30
2    Los Angeles    16   40
3  San Francisco     4   50
一、按索引轴进行内连接
             city  rank         city  rank  age
0        Chicago     1      Chicago     1   20
1  San Francisco     4       Boston    14   30
2  New York City     5  Los Angeles    16   40
二、进行外连接并指定keys(行索引)
       age           city  rank
a 0   NaN        Chicago     1
  1   NaN  San Francisco     4
  2   NaN  New York City     5
b 0  20.0        Chicago     1
  1  30.0         Boston    14
  2  40.0    Los Angeles    16
  3  50.0  San Francisco     4
三、去重后
     age           city  rank
0   NaN        Chicago     1
1   NaN  San Francisco     4
2   NaN  New York City     5
3  20.0        Chicago     1
4  30.0         Boston    14
5  40.0    Los Angeles    16
6  50.0  San Francisco     4
四、按索引轴进行内连接
             city  rank           city  rank  age
0        Chicago   1.0        Chicago     1   20
1  San Francisco   4.0         Boston    14   30
2  New York City   5.0    Los Angeles    16   40
3            NaN   NaN  San Francisco     4   50

D:\Program Files (x86)\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys
D:\Program Files (x86)\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

# 5、导入数据

In [7]:
df=pd.read_csv('.\JN_DataWarehouse\qunar\qunar_freetrip.csv',index_col=0)
df.head()

,出发地,目的地,价格,节省,路线名,酒店,房间,去程航司,去程方式,去程时间,回程航司,回程方式,回程时间
0,哈尔滨,北海,2208.0,650.0,哈尔滨-北海3天2晚 | 入住北海祥丰嘉年华大酒店 + 春秋航空往返机票,北海祥丰嘉年华大酒店 舒适型 4.7分/5分,标准双人间(双床) 双床 不含早 1间2晚,春秋航空 9C8741,直飞,17:10-21:50,春秋航空 9C8742,直飞,10:20-15:05
1,成都,泸沽湖,1145.0,376.0,成都-泸沽湖3天2晚 | 入住7天酒店丽江古城中心店 + 成都航空往返机票,7天酒店丽江古城中心店 经济型 4.0分/5分,经济房-不含早-限时特... 其他 不含早 1间2晚,成都航空 EU2237,直飞,19:45-21:20,成都航空 EU2738,直飞,23:30-01:05
2,广州,沈阳,2702.0,618.0,广州-沈阳3天2晚 | 入住沈阳中煤宾馆 + 南方航空/深圳航空往返机票,沈阳中煤宾馆 舒适型 4.5分/5分,大床间(内宾) 大床 双早 1间2晚,南方航空 CZ6384,直飞,08:05-11:45,深圳航空 ZH9652,经停,08:20-13:05
3,上海,九寨沟,1954.0,484.0,上海-九寨沟3天2晚 | 入住红原芸谊大酒店 + 成都航空往返机票,红原芸谊大酒店 舒适型 4.6分/5分,豪华双床房[双早] 双床 双早 1间2晚,成都航空 EU6678,直飞,21:55-01:15,成都航空 EU6677,直飞,17:45-20:35
4,广州,天津,1608.0,422.0,广州-天津3天2晚 | 入住天津逸海明珠大酒店 + 奥凯航空/海南航空往返机票,天津逸海明珠大酒店 高档型 4.1分/5分,豪华双床房(预付) 双床 不含早 1间2晚,奥凯航空 BK2787,直飞,06:55-10:00,海南航空 HU7201,直飞,20:15-23:25

# 6、导出数据

In [8]:
# data.to_csv('lianjia-foshanfangyuan.csv')
df.to_csv('.\JN_DataWarehouse\qunar\qunar_freetrip.csv')

# 7、去列名的空格

In [9]:
# 将数组里的下标赋值给col变量
col = df.columns.values
# 去空格，第二种：使用for循环来进行处理，如下：
df.columns=[x.strip() for x in col]

# 7.1 缺失值筛查

In [10]:
df.isnull().sum()

出发地      2
目的地      1
价格      28
节省      17
路线名      0
酒店       0
房间       0
去程航司     0
去程方式     0
去程时间     0
回程航司     0
回程方式     0
回程时间     0
dtype: int64

In [11]:
# 缺失值筛查
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_pct = 100 * mis_val/len(df)
    mis_val_table = pd.concat([mis_val, mis_val_pct], axis=1)
    mis_val_table.rename(columns={0: 'Missing Values', 1: '% of Total Values'}, inplace=True)
    mis_val_table = mis_val_table[mis_val_table.iloc[:, 1] != 0].sort_values('% of Total Values', ascending=False).round(1)
    return mis_val_table
missing_loan = missing_values_table(df)
missing_loan

     Missing Values  % of Total Values
价格               28                0.5
节省               17                0.3
出发地               2                0.0
目的地               1                0.0

# 7.3 查看列值 是否有异常值

In [14]:
# 查看列 是否有异常值 如 【出发地】列包含什么数据，要自己先检查NaN
df.groupby(['出发地'])['出发地'].count()
# 含有上面的功能 还多了排序
df['出发地'].value_counts()

南京     361
广州     358
杭州     357
上海     340
北京     339
天津     318
厦门     306
成都     295
西安     290
济南     270
重庆     269
深圳     261
青岛     256
大连     240
沈阳     229
武汉     220
宁波     182
哈尔滨    182
长春      25
Name: 出发地, dtype: int64

# 8、查询某行某列

In [71]:
# #where条件 和 显示 指定列， select '价格','节省','目的地' from df where 价格 > 0 and 节省 >400 and rownum < 6
df.loc[(df.价格>0) & (df.节省>400) ,['价格','节省','目的地']].head()
#df.loc[df['价格'].isnull()].head()

,出发地,目的地,价格,节省,路线名,酒店,房间,去程航司,去程方式,去程时间,回程航司,回程方式,回程时间,逾期天数
11,哈尔滨,长沙,NaN,472.0,哈尔滨-长沙3天2晚 | 入住长沙艾玛连锁酒店 + 海南航空/奥凯航空往返机票,长沙艾玛连锁酒店 舒适型 3.7分/5分,豪华双人间-不含早（预... 双床 不含早 1间2晚,海南航空 HU7726,经停,16:25-22:05,奥凯航空 BK2849,经停,07:15-12:50,3
31,天津,西宁,NaN,396.0,天津-西宁3天2晚 | 入住西宁运通商务宾馆 + 中国国航往返机票,西宁运通商务宾馆 舒适型 4.4分/5分,标准间(双床)(内宾) 双床 不含早 1间2晚,中国国航 CA1241,直飞,15:25-17:55,中国国航 CA8280,经停,18:15-22:05,3
41,南京,青岛,NaN,326.0,南京-青岛3天2晚 | 入住宜必思酒店青岛城阳正阳路店 + 青岛航/首都航空往返...,宜必思酒店青岛城阳正阳路店 4.4分/5分,大床房(酒店★力推)(... 大床 不含早 1间2晚,青岛航 QW9860,直飞,22:55-00:10,首都航空 JD5298,直飞,10:40-12:00,3
51,青岛,长沙,NaN,454.0,青岛-长沙3天2晚 | 入住长沙天洋大酒店 + 青岛航/幸福航空往返机票,长沙天洋大酒店 3.9分/5分,标准大床房[无早] 大床 不含早 1间2晚,青岛航 QW9775,直飞,06:20-08:40,幸福航空 JR2769,直飞,06:40-09:05,3
73,深圳,呼和浩特,NaN,606.0,深圳-呼和浩特3天2晚 | 入住呼和浩特凯基国际商务酒店 + 东方航空/深圳航空...,呼和浩特凯基国际商务酒店 高档型 4.4分/5分,豪华双人间 双床 双床 不含早 1间2晚,东方航空 MU2877,经停,11:05-17:00,深圳航空 ZH9128,经停,13:55-18:40,3

In [10]:
# 显示某行
df.loc[1850]

出发地                                       天津
目的地                                     西双版纳
价格                                      3027
节省                                       816
路线名     天津-西双版纳3天2晚 | 入住西双版纳景祥大酒店 + 东方航空往返机票
酒店                     西双版纳景祥大酒店 舒适型 4.5分/5分
房间                         温馨大床房 大床 不含早 1间2晚
去程航司                             东方航空 MU5748
去程方式                                      经停
去程时间                             14:15-20:00
回程航司                             东方航空 MU5747
回程方式                                      经停
回程时间                             07:30-12:55
Name: 1850, dtype: object

In [11]:
# 显示DF 列，多列要用两个[]
df[['酒店','房间','路线名']].head(10)

,酒店,房间,路线名
0,北海祥丰嘉年华大酒店 舒适型 4.7分/5分,标准双人间(双床) 双床 不含早 1间2晚,哈尔滨-北海3天2晚 | 入住北海祥丰嘉年华大酒店 + 春秋航空往返机票
1,7天酒店丽江古城中心店 经济型 4.0分/5分,经济房-不含早-限时特... 其他 不含早 1间2晚,成都-泸沽湖3天2晚 | 入住7天酒店丽江古城中心店 + 成都航空往返机票
2,沈阳中煤宾馆 舒适型 4.5分/5分,大床间(内宾) 大床 双早 1间2晚,广州-沈阳3天2晚 | 入住沈阳中煤宾馆 + 南方航空/深圳航空往返机票
3,红原芸谊大酒店 舒适型 4.6分/5分,豪华双床房[双早] 双床 双早 1间2晚,上海-九寨沟3天2晚 | 入住红原芸谊大酒店 + 成都航空往返机票
4,天津逸海明珠大酒店 高档型 4.1分/5分,豪华双床房(预付) 双床 不含早 1间2晚,广州-天津3天2晚 | 入住天津逸海明珠大酒店 + 奥凯航空/海南航空往返机票
5,青岛康大豪生大酒店 豪华型 4.6分/5分,精选房(大床)[酒店★... 大床 不含早 1间2晚,长春-青岛3天2晚 | 入住青岛康大豪生大酒店 + 南方航空往返机票
6,阿坝松潘松林酒店 舒适型 4.3分/5分,豪华标准间(双床) 双床 不含早 1间2晚,济南-九寨沟3天2晚 | 入住阿坝松潘松林酒店 + 中国国航/成都航空往返机票
7,重庆运通假日酒店汽博中心店 舒适型 4.3分/5分,特惠房(大床) 大床 双早 1间2晚,宁波-重庆3天2晚 | 入住重庆运通假日酒店汽博中心店 + 南方航空/四川航空往...
8,维也纳酒店南京南站汇景店 舒适型 4.4分/5分,特惠大床房（无窗）[双... 大床 双早 1间2晚,哈尔滨-南京3天2晚 | 入住维也纳酒店南京南站汇景店 + 吉祥航空/厦门航空往...
9,厦门泊旅时尚酒店会展中心店 舒适型 4.0分/5分,时尚标准双床房 双床 双早 1间2晚,深圳-厦门3天2晚 | 入住厦门泊旅时尚酒店会展中心店 + 海南航空往返机票

In [41]:
# 同样显示某行某列
df[df['出发地']=='上海'][['出发地','目的地']].head()

   出发地   目的地
3   上海   九寨沟
25  上海    青岛
45  上海   九寨沟
57  上海  乌鲁木齐
58  上海    沈阳

# 9、分组groupby

In [40]:
# df.groupby(['出发地','目的地'])['出发地'].count()
df.loc[df.出发地=='上海',['出发地','目的地']].groupby(['出发地','目的地'])['出发地'].count()

出发地  目的地
上海   三亚      21
     丽江      15
     乌鲁木齐    10
     九寨沟     15
     北京      17
     厦门      17
     呼和浩特    17
     哈尔滨     17
     大连      19
     太原      18
     张家界     11
     桂林      11
     武汉      19
     沈阳      20
     神农架     19
     西双版纳     9
     西安      16
     重庆      12
     长沙      22
     青岛      19
     黄山      16
Name: 出发地, dtype: int64

In [26]:
# sum
df.loc[df.节省.notnull(),'节省'].sum()

2410053.0

# 10、排序sort
+ ascending = False 倒序

In [25]:
df.sort_values(by=['价格'], ascending=True).head()

,出发地,目的地,价格,节省,路线名,酒店,房间,去程航司,去程方式,去程时间,回程航司,回程方式,回程时间
5021,大连,烟台,578.0,342.0,大连-烟台3天2晚 | 入住蓬莱美一天精品酒店蓬莱阁店 + 幸福航空/天津航空往...,蓬莱美一天精品酒店蓬莱阁店 高档型 3.3分/5分,标准双床房(限量特惠) 双床 不含早 1间2晚,幸福航空 JR1582,直飞,10:05-11:05,天津航空 GS6402,直飞,16:30-17:25
1012,大连,烟台,600.0,348.0,大连-烟台3天2晚 | 入住烟台太平洋大酒店 + 幸福航空/天津航空往返机票,烟台太平洋大酒店 3.6分/5分,B类豪华大床房-限内宾 大床 不含早 1间2晚,幸福航空 JR1582,直飞,10:05-11:05,天津航空 GS6402,直飞,16:30-17:25
2301,大连,烟台,602.0,338.0,大连-烟台3天2晚 | 入住莱州新世纪大酒店B座 + 幸福航空/天津航空往返机票,莱州新世纪大酒店B座 舒适型 4.3分/5分,商务大床房 大床 双早 1间2晚,幸福航空 JR1582,直飞,10:05-11:05,天津航空 GS6402,直飞,16:30-17:25
4015,大连,烟台,612.0,334.0,大连-烟台3天2晚 | 入住维也纳智好酒店烟台开发区泰山路店 + 幸福航空/天津...,维也纳智好酒店烟台开发区泰山路店 舒适型 4.8分/5分,高级双床房(限量售卖)... 双床 不含早 1间2晚,幸福航空 JR1582,直飞,10:05-11:05,天津航空 GS6402,直飞,16:30-17:25
513,大连,烟台,612.0,348.0,大连-烟台3天2晚 | 入住莱州华泽宾馆 + 幸福航空/天津航空往返机票,莱州华泽宾馆 舒适型 4.5分/5分,大床房[无早] 大床 不含早 1间2晚,幸福航空 JR1582,直飞,10:05-11:05,天津航空 GS6402,直飞,16:30-17:25

# 11、在DF上赋值可增加列

In [27]:
# 增加任意名字列，如“逾期天数” 列，并赋值
df['逾期天数'] = 3
df.columns

Index(['出发地', '目的地', '价格', '节省', '路线名', '酒店', '房间', '去程航司', '去程方式', '去程时间',
       '回程航司', '回程方式', '回程时间', '逾期天数'],
      dtype='object')

# 12、in()与notin()

In [30]:
df.loc[df.节省.isin([342,334]),'节省'].head()

32     334.0
120    334.0
138    342.0
142    342.0
192    334.0
Name: 节省, dtype: float64

# 13、pandas.cut使用总结

In [59]:
# cut
pd.cut(df['价格'], bins=[0, 1000, 2000, 5000, 10000, 100000, 5000000],  labels=[u"免费",u"低价",u"一般",u"中价",u"高价",u"超高价"]).head(5)

0    一般
1    低价
2    一般
3    低价
4    低价
Name: 价格, dtype: category
Categories (6, object): [免费 < 低价 < 一般 < 中价 < 高价 < 超高价]