In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model.logistic import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import roc_curve, confusion_matrix, classification_report, roc_auc_score, precision_score, recall_score, accuracy_score, auc

In [22]:
loan = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'], 'D': [1, 2, 3],'C': [1, 2, 3]})
pd.get_dummies(loan, prefix=['col1', 'col2'])

   D  C  col1_a  col1_b  col2_a  col2_b  col2_c
0  1  1       1       0       0       1       0
1  2  2       0       1       1       0       0
2  3  3       1       0       0       0       1

In [23]:
le = LabelEncoder()
for col in loan:
    if loan[col].dtype == 'object':
        if len(list(loan[col].unique())) <= 3:
            le.fit(loan[col])
            loan[col] = le.transform(loan[col])
loan

   A  B  D  C
0  0  1  1  1
1  1  0  2  2
2  0  2  3  3

In [19]:
loan = pd.get_dummies(loan)
loan

   A  D  C  B_a  B_b  B_c
0  0  1  1    0    1    0
1  1  2  2    1    0    0
2  0  3  3    0    0    1