In [1]:
import talib                   #量化金融技术分析库
import os
import pandas as pd
import numpy as np
import cufflinks as cf
import chart_studio.plotly as py
import plotly.graph_objs as go
import plotly.offline as pyoff
import plotly.io as pio
import plotly
import datetime
import time

In [2]:
start = time.time()

In [3]:
# 插入py文件，调用里面的函数
from Stock_Interface import cli_kdj
from Stock_Interface import read_finance_year
from Stock_Interface.read_finance_year import read_stock, read_newyear

In [4]:
# 读取year
def read_stock_list():
    df = pd.read_excel('../JN_DataWarehouse/stock_analysis/TuShare/stock_list.xls', index_col=False)
    del df['Unnamed: 0']
    
    return df

In [5]:
df_stock_list = read_stock_list()

In [6]:
df_symbol = df_stock_list.loc[df_stock_list["ts_code"].str.startswith('60000'),['ts_code','symbol']]
df_symbol

        ts_code  symbol
2312  600000.SH  600000
2313  600004.SH  600004
2314  600006.SH  600006
2315  600007.SH  600007
2316  600008.SH  600008
2317  600009.SH  600009

In [ ]:
df_result = pd.DataFrame()
df_all = read_newyear()

for stock_code in df_symbol['symbol'].values.astype('str'):
    #stock_code = '601939'
    today = datetime.date.today()                #datetime.date类型日期  today = datetime.date(2019,11,15)
    today = today -  datetime.timedelta(365*0)
    A3yday = today - datetime.timedelta(365*0.5)
    startDate = A3yday.strftime('%Y%m%d')        #字符串型日期
    endDate = today.strftime('%Y%m%d')
    from Stock_Interface import read_finance_year
    stock_name =  read_finance_year.read_companyInfo(stock_code)

    df = read_stock( df_all, stock_code, startDate, endDate )
    df_mode = cli_kdj.build_mode(df, stock_code, stock_name, startDate, endDate)
    df_result = df_result.append(df_mode.tail(1), ignore_index=True)
    #fig = cli_fiveLine.show_save_image(df_mode, stock_code, stock_name)

df_result = df_result.to_excel('../JN_DataWarehouse/stock_analysis/tmp/BAT_KDJ_data.xls')

In [ ]:
df_result

In [ ]:
print('finish:%.4f'%(time.time()-start))