In [10]:
import tushare as ts

In [11]:
#ts.set_token('4a7caeea1e5e4718dac4386b6e4f7bfefdafd2f9634f9e71e6ffaaef')
#ts.set_token('d6fe22750410e124c057a41d1c8031d684b8e0d2f1b96b694db0ea2a') #15112994875
#ts.set_token('ca4d2743af67b24bcbc3b14f09fa349b9877bc893b28706041600a9e') #492207670@qq.com
#ts.set_token('86f7cdc6aad080403432e395cee208218866d4f091063e69d8c8d755') #714553504@qq.com
#ts.set_token('0242bb7d53bef05e3ce8e426c7b4ac86edf30ca779d0b0e48d4a7882') #1755347637@qq.com
#ts.set_token('8f68a2ccc10e31a9d66ae27e6930bdb8cb99a6eb75b8d5e8da0a495b')  #26098495@qq.com
#ts.set_token('9f5585ac3e8a5fd2e4be500723102060c609881d22e2b9f9436d3409')  #2364480207@qq.com
#ts.set_token('b1b07de72441487cc9bdced5c94fab3765605559a50106e3e621a95c')  #763690782@qq.com
#ts.set_token('01e7c939be853b6e8cc8b2cfb19facd42733e68062485b5d8c8a3a38')  #3509036093@qq.com
#ts.set_token('52341d49b9b7616a7f98976bcb41d29d21e723a68015afd6c97f781b')  #13433245820
#ts.set_token('a06020cba02aa5cf32bc461b4e529af5852de1e7c19e5a22a9f7c118')  #roelwf134@163.com

#ts.set_token('029060c40e4a6b9b2ffc3e55a18f6690b9e3ba9c77ab8a1ece015bda')  #2978373708@qq.com
#ts.set_token('e6215c86b05f42be90a84255b65924c7e3e64cd8b189f09de97a9a90')  #huelw124@sina.com
#ts.set_token('89f9642565ae1134ca836fe089382335b46b880a626c2ec42ade6d87')  #1516836216@qq.com
ts.set_token('2b0108ead201cfff4f868f17f5f4269ac9617d740e24aea8c7ae5983') #holdetf@sina.com

In [12]:
pro = ts.pro_api()

In [13]:
# 股票基础信息
df = pro.stock_basic(list_status='L', exchange='SSE', fields='ts_code,symbol,name,area,industry,list_date,fullname,market,exchange,list_status,is_hs')
df.head(3000)

,ts_code,symbol,name,area,industry,fullname,market,exchange,list_status,list_date,is_hs
0,600000.SH,600000,浦发银行,上海,银行,上海浦东发展银行股份有限公司,主板,SSE,L,19991110,H
1,600004.SH,600004,白云机场,广东,机场,广州白云国际机场股份有限公司,主板,SSE,L,20030428,H
2,600006.SH,600006,东风汽车,湖北,汽车整车,东风汽车股份有限公司,主板,SSE,L,19990727,N
3,600007.SH,600007,中国国贸,北京,园区开发,中国国际贸易中心股份有限公司,主板,SSE,L,19990312,H
4,600008.SH,600008,首创股份,北京,环境保护,北京首创股份有限公司,主板,SSE,L,20000427,H
...,...,...,...,...,...,...,...,...,...,...,...
1654,688589.SH,688589,力合微,深圳,半导体,深圳市力合微电子股份有限公司,科创板,SSE,L,20200722,N
1655,688598.SH,688598,金博股份,湖南,矿物制品,湖南金博碳素股份有限公司,科创板,SSE,L,20200518,N
1656,688599.SH,688599,天合光能,江苏,电气设备,天合光能股份有限公司,科创板,SSE,L,20200610,N
1657,688600.SH,688600,皖仪科技,安徽,电器仪表,安徽皖仪科技股份有限公司,科创板,SSE,L,20200703,N
1658,688981.SH,688981,中芯国际-U,上海,半导体,中芯国际集成电路制造有限公司,科创板,SSE,L,20200716,N

In [14]:
# 获取交易日历
df = pro.trade_cal(exchange='', start_date='20181001', end_date='20181001', fields='exchange,cal_date,is_open,pretrade_date')
df.head()

  exchange  cal_date  is_open pretrade_date
0      SSE  20181001        0      20180928

In [15]:
# 上市公司基本信息
df = pro.stock_company()
df.head()

,ts_code,exchange,chairman,manager,secretary,reg_capital,setup_date,province,city,website,email,employees
0,300456.SZ,SZSE,杨云春,张云鹏,张阿斌,64189.8580,20080515,北京,北京市,www.navgnss.com,zqb@navgnss.com;lb@navgnss.com;zhangabin@navgn...,805.0
1,300198.SZ,SZSE,陈志江,陈志江,姚俊宾,103154.8540,20030611,福建,泉州市,www.nachuan.com,nachuan@nachuan.com;yaojunbin@nachuan.com,830.0
2,002770.SZ,SZSE,张清海,张枫华,张枫华,109486.7797,20050120,河南,商丘市,www.kedidairy.com,185287519@qq.com,924.0
3,002670.SZ,SZSE,杜力,张巍,赵岑,193508.4653,19950817,广东,佛山市,www.gsfins.com,zqb@gsfins.com,2743.0
4,603809.SH,SSE,向朝东,张勇,侯凡,20907.3200,20060925,四川,成都市,www.cdhntech.com,bgs@cdhntech.com,1371.0

In [16]:
df = pro.daily(start_date='20200101', end_date='20251231')
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,688981.SH,20200724,77.50,78.12,71.52,71.95,78.78,-6.83,-8.6697,1301677.75,9696538.245
1,688600.SH,20200724,29.89,29.89,27.65,27.66,30.60,-2.94,-9.6078,37536.49,108203.973
2,688599.SH,20200724,17.95,18.16,17.00,17.03,17.00,0.03,0.1765,500235.92,879690.166
3,688598.SH,20200724,94.85,94.98,87.01,87.66,96.13,-8.47,-8.8110,18003.73,163850.865
4,688589.SH,20200724,80.00,81.40,69.65,70.80,84.51,-13.71,-16.2229,112122.83,851824.708

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ts_code     5000 non-null   object
 1   trade_date  5000 non-null   object
 2   open        5000 non-null   float64
 3   high        5000 non-null   float64
 4   low         5000 non-null   float64
 5   close       5000 non-null   float64
 6   pre_close   5000 non-null   float64
 7   change      5000 non-null   float64
 8   pct_chg     5000 non-null   float64
 9   vol         5000 non-null   float64
 10  amount      5000 non-null   float64
dtypes: float64(9), object(2)
memory usage: 429.8+ KB

In [18]:
df = pro.fina_indicator(ts_code='600000.SH')

Exception: 抱歉，您没有访问该接口的权限，权限的具体详情访问：https://tushare.pro/document/1?doc_id=108。