In [1]:
import tushare as ts
import pandas as pd
from pandas import DataFrame
from pandas import concat
from pandas import merge
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os, sys
import time

In [2]:
#ts.set_token('4a7caeea1e5e4718dac4386b6e4f7bfefdafd2f9634f9e71e6ffaaef')
#ts.set_token('d6fe22750410e124c057a41d1c8031d684b8e0d2f1b96b694db0ea2a') #15112994875
#ts.set_token('ca4d2743af67b24bcbc3b14f09fa349b9877bc893b28706041600a9e') #492207670@qq.com
#ts.set_token('86f7cdc6aad080403432e395cee208218866d4f091063e69d8c8d755') #714553504@qq.com
#ts.set_token('0242bb7d53bef05e3ce8e426c7b4ac86edf30ca779d0b0e48d4a7882') #1755347637@qq.com
#ts.set_token('8f68a2ccc10e31a9d66ae27e6930bdb8cb99a6eb75b8d5e8da0a495b')  #26098495@qq.com
#ts.set_token('9f5585ac3e8a5fd2e4be500723102060c609881d22e2b9f9436d3409')  #2364480207@qq.com
#ts.set_token('b1b07de72441487cc9bdced5c94fab3765605559a50106e3e621a95c')  #763690782@qq.com
#ts.set_token('01e7c939be853b6e8cc8b2cfb19facd42733e68062485b5d8c8a3a38')  #3509036093@qq.com
#ts.set_token('52341d49b9b7616a7f98976bcb41d29d21e723a68015afd6c97f781b')  #13433245820
#ts.set_token('a06020cba02aa5cf32bc461b4e529af5852de1e7c19e5a22a9f7c118')  #roelwf134@163.com

#ts.set_token('029060c40e4a6b9b2ffc3e55a18f6690b9e3ba9c77ab8a1ece015bda')  #2978373708@qq.com
#ts.set_token('e6215c86b05f42be90a84255b65924c7e3e64cd8b189f09de97a9a90')  #huelw124@sina.com
ts.set_token('89f9642565ae1134ca836fe089382335b46b880a626c2ec42ade6d87')  #1516836216@qq.com
#ts.set_token('2b0108ead201cfff4f868f17f5f4269ac9617d740e24aea8c7ae5983') #holdetf@sina.com

In [3]:
pro = ts.pro_api()

In [4]:
# 更新股票基础信息 
def to_stock_list():
    df = pro.stock_basic(list_status='L', fields='ts_code,symbol,name,area,industry,list_date,fullname,market,exchange,list_status,is_hs')
    df = df.to_excel('..\\JN_DataWarehouse\\stock_analysis\\TuShare\\stock_list.xls')

In [5]:
#更新交易日历
def to_cal():
    df = pro.trade_cal(exchange='', start_date='20110101', end_date='20290101', fields='exchange,cal_date,is_open,pretrade_date')
    df = df.to_excel('..\\JN_DataWarehouse\\stock_analysis\\TuShare\\cal.xls')

In [6]:
# 上市公司基本信息
def to_stock_company():
    df = pro.stock_company()
    df = df.to_excel('..\\JN_DataWarehouse\\stock_analysis\\TuShare\\company.xls')

In [7]:
#to_stock_list()
#to_cal()
#to_stock_company()

In [8]:
# 读取日历
def read_cal():
    df = pd.read_excel('..\\JN_DataWarehouse\\stock_analysis\\TuShare\\cal.xls', index_col=False)
    return df


# 读取日历
def read_cal_t():
    df = pd.read_excel('..\\JN_DataWarehouse\\stock_analysis\\TuShare\\cal.xls', index_col=False)
    df_cal_t = df.query("is_open == 1")[['cal_date']]            # query 查询语句
    return df_cal_t

In [9]:
df_cal_t = read_cal_t()

In [10]:
type(df_cal_t)

pandas.core.frame.DataFrame

In [11]:
count = int( df_cal_t.count() )
print(count)
for r in zip(df_cal_t['cal_date']):
    print(r[0])
    
    df = pro.daily(start_date=r[0], end_date=r[0])
    print(df.count)
    
    time.sleep(5)
    
    count= count - 1
    if count==2430:
        break

2432
20110104
<bound method DataFrame.count of         ts_code trade_date   open   high    low  close  pre_close  change  \
0     002007.SZ   20110104  48.51  48.69  47.42  48.13      48.39   -0.26
1     000088.SZ   20110104   6.15   6.18   6.09   6.17       6.13    0.04
2     000068.SZ   20110104   6.01   6.30   5.94   6.30       6.00    0.30
3     600167.SH   20110104   9.62   9.78   9.58   9.74       9.63    0.11
4     002418.SZ   20110104  22.05  22.64  22.01  22.58      22.00    0.58
...         ...        ...    ...    ...    ...    ...        ...     ...
1964  002387.SZ   20110104  38.90  39.98  38.90  39.85      38.85    1.00
1965  000958.SZ   20110104   5.07   5.13   5.04   5.09       5.06    0.03
1966  600862.SH   20110104  11.84  11.97  11.70  11.96      11.78    0.18
1967  001872.SZ   20110104  14.07  14.30  14.00  14.18      14.03    0.15
1968  001914.SZ   20110104  12.42  13.23  12.36  12.99      12.34    0.65

      pct_chg        vol       amount
0      -0.540   50208.66  240624.7194
1       0.650   22159.02   13623.5458
2       5.000  109392.70   66681.5565
3       1.140    8403.49    8151.7650
4       2.640   12609.19   28261.5130
...       ...        ...          ...
1964    2.570   10955.91   43461.6717
1965    0.590   25870.76   13136.3109
1966    1.528   18876.24   22417.8240
1967    1.070   22049.90   31214.5261
1968    5.270   62625.37   80958.7044

[1969 rows x 11 columns]>
20110105
<bound method DataFrame.count of         ts_code trade_date   open   high    low  close  pre_close  change  \
0     600088.SH   20110105  16.03  16.31  15.93  16.18      16.05    0.13
1     002303.SZ   20110105  42.35  42.88  41.79  42.06      42.32   -0.26
2     000928.SZ   20110105  14.18  14.72  13.90  14.44      14.23    0.21
3     000939.SZ   20110105  16.01  16.16  15.66  15.80      16.01   -0.21
4     002009.SZ   20110105  14.34  14.49  14.15  14.36      14.33    0.03
...         ...        ...    ...    ...    ...    ...        ...     ...
1952  000686.SZ   20110105  22.30  22.38  22.09  22.28      22.57   -0.29
1953  300114.SZ   20110105  36.31  36.57  36.00  36.55      36.31    0.24
1954  600862.SH   20110105  11.98  12.02  11.82  11.94      11.96   -0.02
1955  001872.SZ   20110105  14.15  14.33  14.03  14.32      14.18    0.14
1956  001914.SZ   20110105  12.85  13.07  12.78  12.91      12.99   -0.08

      pct_chg       vol       amount
0      0.8100  27868.74   45101.0400
1     -0.6100   6906.04   29139.0746
2      1.4800  83482.88  119883.3792
3     -1.3100  58403.33   92831.8123
4      0.2100  25817.36   37131.2475
...       ...       ...          ...
1952  -1.2800  48169.61  107040.3548
1953   0.6600   6166.42   22351.9446
1954  -0.1672  17744.20   21139.0290
1955   0.9900  20908.36   29670.6220
1956  -0.6200  38256.93   49288.5744

[1957 rows x 11 columns]>

In [12]:
df = pro.daily(start_date='20110111', end_date='20110111')
df = df.to_excel('..\\JN_DataWarehouse\\stock_analysis\\TuShare\\Temp\\20110111.xls')

In [13]:
df.info()

AttributeError: 'NoneType' object has no attribute 'info'

In [ ]:
df = pro.fina_indicator(ts_code='600000.SH')