In [1]:
import tushare as ts
import pandas as pd
from pandas import DataFrame
from pandas import concat
from pandas import merge
import numpy as np
import matplotlib.pyplot as plt
import os, sys
import time

# 1、注册接口

In [2]:
#ts.set_token('4a7caeea1e5e4718dac4386b6e4f7bfefdafd2f9634f9e71e6ffaaef')
#ts.set_token('d6fe22750410e124c057a41d1c8031d684b8e0d2f1b96b694db0ea2a') #15112994875
#ts.set_token('ca4d2743af67b24bcbc3b14f09fa349b9877bc893b28706041600a9e') #492207670@qq.com
#ts.set_token('86f7cdc6aad080403432e395cee208218866d4f091063e69d8c8d755') #714553504@qq.com
#ts.set_token('0242bb7d53bef05e3ce8e426c7b4ac86edf30ca779d0b0e48d4a7882') #1755347637@qq.com
#ts.set_token('8f68a2ccc10e31a9d66ae27e6930bdb8cb99a6eb75b8d5e8da0a495b')  #26098495@qq.com
#ts.set_token('9f5585ac3e8a5fd2e4be500723102060c609881d22e2b9f9436d3409')  #2364480207@qq.com
#ts.set_token('b1b07de72441487cc9bdced5c94fab3765605559a50106e3e621a95c')  #763690782@qq.com
#ts.set_token('01e7c939be853b6e8cc8b2cfb19facd42733e68062485b5d8c8a3a38')  #3509036093@qq.com
ts.set_token('52341d49b9b7616a7f98976bcb41d29d21e723a68015afd6c97f781b')  #13433245820
#ts.set_token('a06020cba02aa5cf32bc461b4e529af5852de1e7c19e5a22a9f7c118')  #roelwf134@163.com

#ts.set_token('029060c40e4a6b9b2ffc3e55a18f6690b9e3ba9c77ab8a1ece015bda')  #2978373708@qq.com
#ts.set_token('e6215c86b05f42be90a84255b65924c7e3e64cd8b189f09de97a9a90')  #huelw124@sina.com
#ts.set_token('89f9642565ae1134ca836fe089382335b46b880a626c2ec42ade6d87')  #1516836216@qq.com
#ts.set_token('2b0108ead201cfff4f868f17f5f4269ac9617d740e24aea8c7ae5983') #holdetf@sina.com

In [3]:
pro = ts.pro_api()

In [4]:
start = time.time()

In [5]:
# 插入py文件，调用里面的函数
from Stock_Interface import build_finance_year
from Stock_Interface.build_finance_year import to_stock_list, to_cal, to_stock_company, read_year, build_daily, read_cal_t, build_stock_newyear
from Stock_Interface.build_finance_year import to_adjfactor, read_adjfactor, build_adjfactor

# 2、更新基础信息

In [6]:
to_stock_list(pro)
to_cal(pro)
to_stock_company(pro)

# 3、更新每日价格信息

In [6]:
# 刷新最细stock数据
years = ['2021']

for b_year in years:
    build_daily(pro, b_year)

ok!

In [7]:
print('finish:%.4f'%(time.time() - start))

finish:67.4293

In [8]:
df_cal_t = read_cal_t('20200101', '20201231')
count = int( df_cal_t.count() )
print(count)

243

# 4、重构ALL日数据，按时间段

In [ ]:
%%time
df_stock_daily = build_stock_newyear()
df_stock_daily.info

# 5、生成权重因子

In [8]:
#df_adj = pro.adj_factor(ts_code='', trade_date='20210114')

In [6]:
# 刷新最细stock数据
years = [#'2001','2002','2003','2004','2005','2006','2007','2008','2009','2010',
         #'2011','2012','2013','2014','2015','2016','2017',
        '2018','2019','2020','2021'
        ]

for b_year in years:
    build_adjfactor(pro, b_year)

ok!
ok!
ok!
ok!

In [7]:
print('finish:%.4f'%(time.time() - start))

finish:1039.6364

In [15]:
df_test = read_adjfactor('20210101','20211231')
df_test

            ts_code  trade_date  adj_factor
10551112  000001.SZ    20210104     111.048
10551113  000002.SZ    20210104     153.901
10551114  000004.SZ    20210104       4.064
10551115  000005.SZ    20210104       9.268
10551116  000006.SZ    20210104      36.507
...             ...         ...         ...
10592614  689009.SH    20210125       1.000
10592615  689009.SH    20210126       1.000
10592616  689009.SH    20210127       1.000
10592617  689009.SH    20210128       1.000
10592618  689009.SH    20210129       1.000

[41507 rows x 3 columns]

In [20]:
df_test.loc[df_test.ts_code == '000001.SZ',['ts_code','trade_date','adj_factor']].groupby(['ts_code','trade_date','adj_factor']).count()

Empty DataFrame
Columns: []
Index: [(000001.SZ, 20210104, 111.04799999999999), (000001.SZ, 20210105, 111.04799999999999), (000001.SZ, 20210106, 111.04799999999999), (000001.SZ, 20210107, 111.04799999999999), (000001.SZ, 20210108, 111.04799999999999), (000001.SZ, 20210111, 111.04799999999999), (000001.SZ, 20210112, 111.04799999999999), (000001.SZ, 20210113, 111.04799999999999), (000001.SZ, 20210114, 111.04799999999999), (000001.SZ, 20210115, 111.04799999999999)]

In [ ]:
df_newtest = read_adjfactor('20210115','20210115')

In [37]:
df_newtest = df_newtest.loc[df_newtest.ts_code.notnull(),['ts_code','adj_factor']]
df_newtest

            ts_code  adj_factor
10588456  689009.SH       1.000
10588457  000001.SZ     111.048
10588458  000002.SZ     153.901
10588459  000004.SZ       4.064
10588460  000005.SZ       9.268
...             ...         ...
10592604  600680.SH       3.918
10592605  600701.SH       4.760
10592606  600796.SH       8.519
10592607  600891.SH       3.442
10592608  601866.SH       1.039

[4153 rows x 2 columns]

In [21]:
df_alldata = pd.read_csv('../JN_DataWarehouse/stock_analysis/TuShare/new_year.csv' ,index_col=False, converters = {'symbol':str})

In [38]:
df_newalldata = pd.merge(df_alldata, df_test, on=['trade_date','ts_code'])
df_newalldata = pd.merge(df_newalldata, df_newtest, on=['ts_code'])
df_newalldata['close1'] = df_newalldata['close']
df_newalldata

,Unnamed: 0,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,adj_factor_x,adj_factor_y,close1
0,10049327,600203.SH,20210104,10.10,10.10,9.76,9.86,9.94,-0.08,-0.8048,90503.26,89198.088,1.685,1.685,9.86
1,10056510,600203.SH,20210105,9.85,9.93,9.62,9.67,9.86,-0.19,-1.9270,70442.83,68658.092,1.685,1.685,9.67
2,10059742,600203.SH,20210106,9.67,9.89,9.47,9.58,9.67,-0.09,-0.9307,54700.65,52906.213,1.685,1.685,9.58
3,10063348,600203.SH,20210107,9.49,9.58,9.25,9.29,9.58,-0.29,-3.0271,52224.19,48752.029,1.685,1.685,9.29
4,10066643,600203.SH,20210108,9.27,9.53,9.15,9.43,9.29,0.14,1.5070,45255.79,42597.993,1.685,1.685,9.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32995,10075920,003033.SZ,20210112,36.87,36.87,33.78,35.40,33.52,1.88,5.6086,93338.78,331121.707,1.000,1.000,35.40
32996,10078636,003033.SZ,20210113,32.87,34.75,31.86,31.86,35.40,-3.54,-10.0000,67071.78,218004.061,1.000,1.000,31.86
32997,10078022,003032.SZ,20210112,10.15,12.18,10.15,12.18,8.46,3.72,43.9716,5664.88,6880.952,1.000,1.000,12.18
32998,10079023,003032.SZ,20210113,13.40,13.40,13.40,13.40,12.18,1.22,10.0164,1172.13,1570.654,1.000,1.000,13.40
32999,10078759,688656.SH,20210113,65.50,75.88,61.63,64.00,35.26,28.74,81.5088,106938.63,719251.282,1.000,1.000,64.00

In [26]:
df_newalldata.head(5)

,Unnamed: 0,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,adj_factor,close1
0,10049327,600203.SH,20210104,10.10,10.10,9.76,9.86,9.94,-0.08,-0.8048,90503.26,89198.088,1.685,9.86
1,10049328,600206.SH,20210104,13.35,13.56,13.26,13.50,13.36,0.14,1.0479,146937.38,197604.465,4.158,13.50
2,10049329,600207.SH,20210104,6.58,6.85,6.38,6.80,6.69,0.11,1.6442,300366.10,200669.582,1.555,6.80
3,10049330,600208.SH,20210104,3.09,3.10,3.05,3.09,3.10,-0.01,-0.3226,389948.03,119837.771,6.838,3.09
4,10049331,600209.SH,20210104,4.54,4.56,4.30,4.32,4.53,-0.21,-4.6358,47402.41,20617.446,3.508,4.32