In [1]:
import pandas as pd
from pandas import DataFrame
from pandas import concat
from pandas import merge
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os, sys

In [2]:
# 读取股票数据
def read_data(stock_name, flag):
    df = pd.read_csv('..\\JN_DataWarehouse\\stock_analysis\\'+stock_name, index_col=False)
    return df

In [3]:
# 读取概念分类
def read_typeinfo(_name ):
    df = pd.read_excel('..\\JN_DataWarehouse\\stock_analysis\\概念分类\\' + _name, index_col=False)
    return df

In [4]:
# 读取股票信息
def read_stockinfo(_name ):
    df = pd.read_excel('..\\JN_DataWarehouse\\stock_analysis\\股票信息\\' + _name, index_col=False)
    return df

In [11]:
 df = pd.read_excel('..\\JN_DataWarehouse\\stock_analysis\\stockinfo\\资金流向.xlsx')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3988 entries, 0 to 3987
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   序        3988 non-null   int64
 1   代码       3988 non-null   int64
 2   名称       3988 non-null   object
 3   最新       3988 non-null   object
 4   涨幅%      3988 non-null   object
 5   主力净流入    3988 non-null   object
 6   集合竞价     3988 non-null   object
 7   超大单流入    3988 non-null   object
 8   超大单流出    3988 non-null   object
 9   超大单净额    3988 non-null   object
 10  超大单净占比%  3988 non-null   object
 11  大单流入     3988 non-null   object
 12  大单流出     3988 non-null   object
 13  大单净额     3988 non-null   object
 14  大单净占比%   3988 non-null   object
 15  中单流入     3988 non-null   object
 16  中单流出     3988 non-null   object
 17  中单净额     3988 non-null   object
 18  中单净占比%   3988 non-null   object
 19  小单流入     3988 non-null   object
 20  小单流出     3988 non-null   object
 21  小单净额     3988 non-null   object
 22  小单净占比%   3988 non-null   object
dtypes: int64(2), object(21)
memory usage: 716.7+ KB

In [16]:
df = pd.read_excel('..\\JN_DataWarehouse\\stock_analysis\\概念分类\\1111.xls')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   序       35 non-null     int64
 1   代码      35 non-null     object
 2   名称      35 non-null     object
 3   最新      35 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.2+ KB

In [17]:
df.head()

   序      代码     名称      最新
0  0  BK0923   字节概念  990.39
1  1  000070   特发信息    9.16
2  2  000977   浪潮信息   38.30
3  3  002024   苏宁易购    8.84
4  4  002103   广博股份    7.70